// colors
$white : #ffffff;
$darkgray : #333;
$lightgray : #efefef;
$peachpuff : #FFDAB9;
$peachpuff--dark : #e7b080;
$snow : #FFFAFA;
$transparentblack: rgba(0,0,0,0.5);
// effects
$shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
// layout arguments
$gutter-width: 32px;
$grid-base: 12;
$section-padding: 200px;
$section-padding--small : 50px;
$img-ratio: 3 / 4; // height/width 
